/* 
    # == id in class, . == class name in class ???
    # - id selector
    
  */

#sideBar{
    position: fixed;
    height: 100hv;
    padding-top: 80px;
    background-color: #191F26;
}

#dashboard{
    margin-top: 60px;
}

#navbar{
    background-color: #161a1e!important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.25)
}