<app-navbar 
  id="navbar" 
  class="navbar navbar-dark fixed-top bg-dark">

</app-navbar>

<div class="container-fluid">
  <div class="row" id="mainContant">
    <app-sidebar 
      id="sideBar" 
      class="col-sm-3 col-md-2 d-none d-sm-block sidebar">
      
    </app-sidebar>
    <div class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="dashboard">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



