<ul class="nav nav-pills flex-column">
  <li class="nav-item"> 
    <a class="nav-link" href="/sales">Sales Volume</a>
  </li>
  <li class="nav-item"> 
    <a class="nav-link" href="/orders">Latest Orders</a>
  </li>
  <li class="nav-item"> 
    <a class="nav-link" href="/health">System Health</a>
  </li>
</ul>
