* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Satisfy', cursive;
    background: #1C2228;
    color: white;
    height: 100%;
}

a {
    color: #44a4cd;
}

a:hover {
    color: #44a8cf;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3)
}

.section-container {
    padding: 30px;
}